<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      {% block xmlns -%}
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      {%- endblock %}>
  
  {% import "macros/html" as html -%}
  {% import "macros/crumbs" as breadcrumbs with context -%}
  
  <head>
    {% block head %}
    
      {% block meta %}
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
      {% endblock %}
      
      <title>
        {% block title -%}
          {{ title }} |
        {%- endblock %}
        {% block title_prefix -%}
          {% if 'wiki-name' in config %}{{ config['wiki-name']|e }} {% endif %}
        {%- endblock %}
      </title>
      
      {% block css %}
        <!-- YUI CSS reset, fonts, base -->
        {{ html.cssimport(("http://yui.yahooapis.com/combo?" +
                           "3.0.0/build/cssreset/reset-min.css&" +
                           "3.0.0/build/cssfonts/fonts-min.css&" +
                           "3.0.0/build/cssbase/base-min.css") | e) }}
        
        {{ html.cssimport(make_relative("/media/css/custom.css")) }}
        {{ html.cssimport(make_relative("/media/css/style.css")) }}
        {{ html.cssimport(make_relative("/media/css/pygments.css")) }}
      {% endblock %}
      
      {% block js %}{% endblock %}
      
      {% block analytics %}
        {% if 'google-analytics' in config %}
          <!-- Google Analytics -->
          <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ config['google-analytics'] }}']);
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
            })();
          </script>
        {% endif %}
      {% endblock analytics %}
    {% endblock head %}
  </head>
  
  <body {% block body_attrs %}{% endblock %}>
    {% block body %}
      
      {% block body_header %}
    
<div class="site-logo">
  <img src="http://q.zoomquiet.top/logos/zq-eyes-IMG_1987-64x64.JPG?imageView2/2/w/32" />
  </div>

        {% block crumbs %}
          {{ breadcrumbs.crumbs(crumbs) }}
        {% endblock crumbs %}
      {% endblock body_header %}
      
      <div id="content">
        {% block content_header %}
        {% endblock content_header %}
        
        {% block content %}
        {% endblock content %}
        
        {% block content_footer %}
        {% endblock content_footer %}
        
        <hr class="clear" />

{% if 'author_name' in config %}
    Author: <a href="{{ config.author_web }}">
    <img
      class="after"
      src="http://q.zoomquiet.top/logos/zq-eyes-IMG_1987-64x64.JPG"
      alt="{{ config.author_display_name }}"
      width="32"
      height="32"
    />
    </a>
      <i>
        /<a href="mailto:{{ config.author_email }}">mail</a>
      </i>
    <b>
      /<a href="{{ config.author_gittip }}">
        gittip
        </a>
    </b>
    <i>
        /<a href="https://github.com/{{ config.author_github }}">
          github
          </a>
      </i>

<br/>
{% endif %}

      </div> <!-- div#content -->
      
      {% block body_footer %}
      <div id="footer">
        <p>
          {% if 'wiki-name' in config %}
            {{ config['wiki-name']|e }} |
          {% endif %}
          
          <a href="_list.html">ls ./</a>
          | 
          Powered by <a href="http://markdoc.org/">Markdoc</a>
          + <a href="https://github.com/zoom-quiet/wiki">github</a>
          + <a href="https://gratipay.com/~ZoomQuiet/">gittip</a>
          + <a href="http://www.qiniu.com/about">七牛</a>

        </p>

      </div>
      {% endblock body_footer %}
    
    {% endblock body %}
    
    <hr class="clear" />

<!-- all kinds of commentes srv. show area -->
<script src="https://utteranc.es/client.js"
        repo="zoom-quiet/wiki"
        issue-term="url"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>


<div class="utterances">

</div>

    <hr class="clear" />

{% if 'disqus_shortname' in config %}
    <div id="disqus_thread"></div>

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = '{{ config.disqus_shortname }}'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}

  </body>
</html>
