<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>order</key>
		<dict/>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>order</key>
		<dict>
			<key>352e7b6037e6c47244243a6bf461b9f3aaf59ac228355699ba89bdda633be179</key>
			<integer>3</integer>
			<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
