<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>新建文件夹</string>
		<string>booker</string>
		<string>chaos2py4scientist</string>
		<string>C4C</string>
		<string>IMHO</string>
		<string>pythonic</string>
		<string>yc</string>
		<string>omooc</string>
		<string>sifi</string>
		<string>chaos</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>C4C</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.44994497</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>IMHO</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.44994599</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>booker</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.44994402</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chaos</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.44994801</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>chaos2py4scientist</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.44994497</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>omooc</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.449947</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>pythonic</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.44994599</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>sifi</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.44994801</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>yc</key>
			<dict>
				<key>lastModification</key>
				<real>482341226.449947</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>新建文件夹</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>482341236.25722301</real>
				<key>lastModification</key>
				<real>482341236.25722301</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
