<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>EventBrand.md</key>
			<dict>
				<key>lastModification</key>
				<real>483295428.241943</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>MeetUpdating.md</key>
			<dict>
				<key>lastModification</key>
				<real>483341400.25757098</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>index.md</key>
			<dict>
				<key>lastModification</key>
				<real>483295428.241943</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>mcross.md</key>
			<dict>
				<key>lastModification</key>
				<real>483295428.24194402</real>
				<key>version</key>
				<dict>
					<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>EventBrand.md</string>
		</array>
		<array>
			<string>index.md</string>
		</array>
		<array>
			<string>MeetUpdating.md</string>
		</array>
		<array>
			<string>mcross.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>ea83ed3f711a861a736ddc4e5ba36574994885b71573b8125edb0a3ad489d512</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
